* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
}

.esquerda {
    position: sticky;
    background-color: rgb(243, 243, 243);
    width:20%;
    height: 963px;
    font-size: 18px;
    font-family: "Montserrat", "Arial", sans-serif;
    top: 0;
    
}

.menu_pag {
    list-style: none;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-left: 5%;
}

.menu_pag a {
    text-decoration: none;
    font-weight: 500;
    color: rgb(107, 107, 107);
}

.menu_pag a:hover {
    text-decoration: underline;
    color: black;
    transition: 0.4s;
}

.parte_cima {
font-weight: 700;
    margin-left: 5%;

    text-align: center;
    font-size: 17px;
    font-family: "Poppins", 'Arial', sans-serif;
}

.parte_cima a {
    text-decoration: none;
}


.parte_cima img {
    border-radius: 55%;
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin-top: 10%;
}

div a {
    color: black;
}

section li a {
    color: rgb(44, 44, 44);
}

.email {
    padding-top: 300px;
    font-family: "Poppins", "Arial", sans-serif;
    text-align: center;
    font-size: 11.5px;
    color: rgb(44, 44, 44);
}

#imagem2 {
    display: flex;
    background-image: url(author-2.jpg);
    height: 963px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
}

.principal { width: 40%;}

.newsletter {
    border: 1px;
    margin: 0;
    height: 52px;
    line-height: 1.5;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 40px;
}


.hello {
    color: rgb(191, 191, 191);
    font-family: "Poppins", "Arial", sans-serif;
    font-size: 24px;
    padding-top: 250px;
    padding-bottom: 2px;
    padding-left: 45px;
    padding-right: 60px;
    z-index: 1;
    position: relative;
}

.louie {
    font-family: "Poppins", "Arial", sans-serif;
    padding-bottom: 1px;
    padding-left: 45px;
    color: black;
    z-index: 0;

}

.photographer {
    font-family: "Poppins", "Arial", sans-serif;
    color: rgb(204, 183, 143);
    font-size: 40px;
    margin: auto;
    font-weight: 800;

    z-index: 0;

}

.life {
    color: black;
    padding-left: 45px;
}

.I {
    color: black;
    padding-left: 0;
}

.nome_bg h1 {
    position: absolute;
    font-family: "Poppins", "Arial", sans-serif;
    z-index: 0;
    font-size: 70px;
    color: rgb(237, 237, 237);
    padding-top: 22vh;
    left: 60%;
    display: flex;
}

.biogrf {
    padding-top: 25px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(153, 153, 153);
    font-family: "Montserrat", "Arial", sans-serif;

    padding-left: 45px;
}

.fntbizarra {
    color: rgba(0, 0, 0, 0.8);
    font-size: 40px;
    font-family: "Herr Von Muellerhoff", cursive;
    font-weight: 100;
    padding-left: 45px;
    padding-top: 20px;
}

.icones {
    width: 25px;
    height: 25px;
}

#imgs {
    padding-top: 20px;
    padding-left: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#biogrfgeral{background-color:rgb(255, 255, 255);
}




#textoF{color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    font-size: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Poppins", 'Arial', sans-serif;
   line-height: 90px;
   padding-top: 30px;
  
}

#parte_imgs{
display: flex;
flex-direction: row;
justify-content: center;

}



.mini_img1{
    background-position-x:50%;
    background-position-y:50%;
    background-image: url(image_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    width: 193.797px;
    height: 200px;
    
}


.mini_img2{
    background-position-x:50%;
    background-position-y:50%;
    background-image: url(image_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    width: 193.812px;
    height: 200px;
}
.mini_img3{
    background-position-x:50%;
    background-position-y:50%;
    background-image: url(image_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    width: 193.797px;
    height: 200px;
}

.mini_img4{background-position-x:50%;
    background-position-y:50%;
    background-image: url(image_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    width: 193.797px;
    height: 200px;}

.mini_img5{background-position-x:50%;
    background-position-y:50%;
    background-image: url(image_5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    width: 193.797px;
    height: 200px;}

    .insta{
        margin-left: 22%;
        width: 78%;
    }

    .pintor_de_rodape{
        width: 80%;
        background:#242423;
        height: 500.125px;
        margin-top: 5%;
        margin-left: 20%;
        padding-top: 84px;
        padding-left: 50px;
        
    }

    .phots{
       margin-bottom: 5%;
        font-size: 16px;
        letter-spacing: 3px;
    color: white;
    font-family: "Poppins", "Arial", sans-serif;
text-transform: uppercase;


}

.fotos_mt_pequenas1{
    width: 96.656px;
    height: 100px;
    
}

.fotos_mt_pequenas2{
    width: 96.656px;
    height: 100px;
}

.pintor_de_rodape img { 
width: 100%;
height: 100%;
}


ul:last-child{display: flex;
    list-style: none;
    width: 295px;
    flex-wrap: wrap;
    padding: 0;
}

